* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Proxima Nova", sans-serif;
  width: 100%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:palegreen; 
}

.navbar .left-icon {
  display: flex;
  width: 12vw;
  height: 12vw;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

.navbar h1{
  font-family: "Dynapuff", sans-serif;
  font-size: 25px;
}

.navbar .right-icon {
  display: flex;
  width: 12vw;
  height: 12vw;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

.admin-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: palegreen; 
}

.admin-navbar .left-icon {
  display: flex;
  width: 12vw;
  height: 12vw;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

.admin-navbar h1{
  font-family: "Dynapuff", sans-serif;
  font-size: 25px;
}

.admin-navbar .right-icon {
  display: flex;
  width: 12vw;
  height: 12vw;
  padding: 3px;
  align-items: center;
  justify-content: center;
}

.logout-button {
  display: flex;
  border: 1px solid darkslategray;
  background: none;
  border-radius: 3px;
  color: darkslategray;
  font-family: inherit;
  font-size: 15px;
  text-decoration: none;
  align-items: center;
  padding: 3px;
}

.login-button {
  display: flex;
  border: 1px solid darkslategrey;
  border-radius: 3px;
  color: darkslategray;
  font-family: inherit;
  font-size: 15px;
  text-decoration: none;
  align-items: center;
  padding: 3px;
}

.card-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.card-item {
  color: darkslategray;
  width: 100%;
  border: 1px solid darkslategray;
  border-radius: 3px;
  margin: 10px 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  width: 100%;
  height: 100%;
  padding: 7px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  max-width: 100%;

}

#cart-count {
  color: teal;
}

.card-image {
  width: 100%;
}

.card-image-item {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

.card-buttons-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card-counter-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter-button{
  font: inherit;
  font-size: 20px;
  font-weight: bold;
  color: darkslategray;
  background-color: white;
  border: 2px solid darkslategrey;
  border-radius: 3px;
  width: 35%;
}

.counter-text {
  font-weight: bold;
}

.add-cart-button {
  font: inherit;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  color: darkslategray;
  background-color: white;
  border: 2px solid darkslategrey;
  border-radius: 3px;
  margin: 3px 0;
  padding: 5px;
}

.goto-cart-button {
  display: flex;
  font: inherit;
  color: teal;
  text-decoration: none;
  border: 2px solid teal;
  border-radius: 3px;
  width: 80%;
  height: 5vh;
  justify-content: center;
  align-items: center;
  margin: 3px;
  background-color: white;
}

.goto-cart-button:hover{
  color: white;
  background: darkslategray;
}

.goto-home-button {
  font: inherit;
  color: darkslategray;
  text-decoration: none;
  border: 2px solid darkslategray;
  border-radius: 3px;
  width: 80%;
  height: 5vh;
  text-align: center;
  margin: 3px;
  padding: 7px;
  background-color: white;
}

.goto-home-button:hover{
  color: white;
  background: darkslategray;
}

.cart-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.cart-list .cart-card {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  padding: 5px;
  font-size: 20px;
  color: darkslategray;
}

.cart-card-list-right {
  display: flex;
  align-items: center;
}

.cart-card-delete {
  color: darkred;
  background: none;
  font-family: inherit;
  height: 100%;
  border: 1px solid darkred;
  border-radius: 3px;
}

.cart-card-delete:hover {
  color: white;
  background-color: darkred;
}

.cart-checkout-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.goto-checkout-button {
  font: inherit;
  color: darkgreen;
  text-decoration: none;
  border: 2px solid darkgreen;
  border-radius: 3px;
  width: 80%;
  height: 5vh;
  text-align: center;
  margin: 3px;
  padding: 7px;
  background-color: white;
}

.goto-checkout-button:hover {
  background-color: darkgreen;
  color: white;
}

.checkout {
  height: 90%;
}

form {
  width: 100%;

}

.form-h1 {
  font-family: "Dynapuff", "Proxima Nova", sans-serif;
}

.form-container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-element {
  margin: 7px 0;
}

.success {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.order-message {
  width: 90%;
  text-align: center;
}

.footer {
  text-align: center;
  width: 100%;
  background-color:palegreen;
  height: 5rem;
  padding: 3px;
}

.footer a{
  text-decoration: none;
}

.orders {
  background-color: rgb(60, 60, 60);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.orders-spacer {
  height: 5vh;
}

.order-rail {
  display: flex;
  width: 100%;
  height: 23vh;
}

.order-rail-title {
  text-align: center;
  color: black;
  border: 2px solid rgb(92, 235, 237);
  border-radius: 5px;
  background-color:rgb(92, 235, 237);
  margin: 0 5px;
}

.order-card {
  font-family: 'Helvetica', sans-serif;
  background-color: white;
  color: black;
  width: 11rem;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 3px;
  padding: 7px;
}

.collected-container .order-card {
  height: 12rem;
}

.order-card ul {
  margin: 0;
  padding: 0;
}

.order-card li {
  list-style: none;
}

.order-items-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.order-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-title-name {
  font-size: 13px;
}

.order-title-name h3 {
  margin: 0;
}

.order-title-time {
  font-size: 12px;
}

.docket-button {
  background: none;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
}

.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collected-orders {
  height: 90%;
  width: 100%;
  background-color: grey;
  margin: 10vh 0 0 0;
}

.collected-container {
  display: flex;
  flex-wrap: wrap;
}

.collected-orders h3 {
  text-align: center;
}

.collected-orders .collected-title {
  color: white;
}

@media only screen and (min-width: 500px) {
  .home {
    margin: 5% 0 0 0;
  }

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
   .card-item {
    width: 20rem;
    height: 26rem;
    margin: 7px 7px;
   }

   .card-image {
    height: 40%;
   }
   
   .card-image-item {
    height: 100%;
   }

   .card-body {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

   .navbar {
    height: 10%;
   }

   .admin-navbar {
    height: 10%;
   }
}